<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Registration page</title>
</head>
<body>
<h1>Registration page</h1>
<form th:action="@{/register}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password"/> <br />

    <input type="radio" name="roles" value="ROLE_USER" checked /> User <br/>
    <input type="radio" name="roles" value="ROLE_ADMIN, ROLE_USER" /> Admin <br/>

    <input type="submit" value="Sign up" />
</form>
</body>
</html>